/*---------------タグ指定----------------*/
header{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
body{
    background-color: #242e33;
    height:2000px;
    color:#fff;
}
main{
    border: solid 1px;
}
footer{
    height:40px;
}
input{
    height:40px;
    width:200px;
}
div{
	border:1px solid white;
}
img{   
    object-fit: cover;
}
/*---------------クラス指定----------------*/
.div{
	background-color:#aac;
}
/*---------------id指定----------------*/
#frontimg{
    width: calc(90% - 100px);
}
#fronttext{
    margin: 10px;
    width: max-content;
	 display:flex;
}
#title{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 50px;
}
#titlee{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 60px;
}
#partoftext{
    margin-top: 150px;
    padding-left:-40px;
}
#amo,#vol,#heavy{
	display:none;
    }
#block{
    display: block;
}
#sim{
    height: max-content;
    display:flex;
    align-items: center;
    justify-content: center;
}





/*css animation*/
.c07{
  padding: 26px 26px;
  background-image:
    linear-gradient(to bottom, transparent 10px, #a675a5 10px, #a675a5 13px, transparent 13px),
    linear-gradient(to left,   transparent 10px, #a675a5 10px, #a675a5 13px, transparent 13px),
    linear-gradient(to top,    transparent 10px, #a675a5 10px, #a675a5 13px, transparent 13px),
    linear-gradient(to right,  transparent 10px, #a675a5 10px, #a675a5 13px, transparent 13px);

  background-repeat: no-repeat;

  background-size: 0% 100%, 100% 0%, 0% 100%, 100% 0%;

  background-position: top left, top left, right bottom, right bottom;
}
.c07.active{
    animation-name: kf_c07a;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes kf_c07a {
    100%{
        background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
    }

}
#frontimg{
  background-image: linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(#333,1) 50%);
  background-size: 100% 200%;
  background-position: 0% -100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.active{
    animation-name: kf_c02;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes kf_c02 {
  100%{
    background-position: 0% 100%;
  }
}



 /*-----2–---*/
.mask-bg {
  color: transparent;
  display: inline-block;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  transition: color 0ms 450ms;
  line-height:1;
}
.mask-bg::after {
  background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
}
 
.mask-bg.is-animated {
  color: #362ae0;
}
.mask-bg.is-animated::after {
  animation: mask-bg 1.2s cubic-bezier(0.8, 0, 0.170, 1);
}
 
@keyframes mask-bg {
  0% {
    transform: translate(0, 101%)
  }
  40%, 60% {
    transform: translate(0, 0%)
  }
  100% {
    transform: translate(0, -100%)
  }
}